name: CI

on:
  push:
    branches:
      - main
      - master   # optional: keep if you ever use master
  pull_request:
    branches:
      - main
      - master

permissions:
  actions: read
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Cache node_modules
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - run: npm ci
      - run: npx playwright install --with-deps

      # Prepend any command with "nx-cloud record --" to record its logs to Nx Cloud
      - run: npx nx run-many -t lint test build e2e
      - run: npx nx fix-ci
        if: always()
